body {
    padding: 15px;
    font-size: 15px;
    width: 800px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70,137,102);
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: rgb(255,240,165);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

nav ul li a:hover {
    background-color:rgb(255,240,165);
    color: rgb(70,137,102);
}

footer {
    text-align: center;
}

main h1{
    color: rgb(142,40,0);
    font-size: 2em;
}

section h2{
    color: rgb(182,73,38);
    border-bottom: 1px solid rgb(255,176,59);
    font-size: 1.75em;
}

section h3 {
    color: rgb(70,137,102);
    font-size: 1.5em;
}

figure img{
    width: 30%;
}

form {
    font-size: 1.25em;
}

form div{
    margin: 15px;
}

form div label{
    display: inline-block;
    vertical-align: top;
    width: 7em;
    color: rgb(142,40,0);
    font-weight: 700;
}

input, textarea{
    border: 1px solid rgb(142, 40, 0);
    margin:2px;
    color: rgb(142, 40, 0);
    width: 12em;
    outline: none;
    padding: 7px;
}

form div input:focus, textarea:focus{
    border-color: rgb(255, 176, 59);
    outline: none;
}

button{
    color: rgb(255,240,165);
    background-color: rgb(70,137,102);
    padding: 10px;
    width: 10em;
    margin: 10px;
    font-size: inherit;
}

