body>div{
    border-color: #000000;
    border-style: solid;
    padding: 0.9%;
    margin: 2%;
    margin-bottom: 4%;
    width: 94%;
}

a{
    padding: 1%;
    text-decoration: none;
    color: #000000;
    margin-bottom: 5%;
}
.active{
    color: rgba(0, 0, 0, 0.4);
}

p{
    border-color: #000000;
    border-style: solid;
    padding:0.8%;
    margin: 2%;
    margin-left: 10%;
    width: 64%;
}

select{
    width: 21%;
    border-color: #000000;
    padding: 0.7%;
    margin: 6%;
    margin-left: 10%;
}