.header-container {
  width: 100%;
  background-color: grey;

}

.header,
.input-field-container,
.mainContent {
  width: 85%;
  margin: auto;
}

.input-fields {
  width: 170px;
}

.single-event {
  margin-left: 50px;
  margin-top: -70px;
}